name: Deploy Azure Function App

on:
  push:
    branches:
      - master

env:
  FunctionAppName: KeyGeneratorAPI

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish Microsoft.UserKeyManagement.API/Microsoft.UserKeyManagement.API.csproj --configuration Release --output ./publish
      
      # Zip the publish folder, may not be needed
      - name: Zip publish folder
        run: zip -r publish.zip .
        working-directory: ./publish

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Deploy to Azure Functions
        run: |
          az functionapp deployment source config-zip \
            --name ${{ env.FunctionAppName }} \
            --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
            --src ./publish.zip
        working-directory: ./publish