name: Deploy Azure Function App

on:
  push:
    branches:
      - master

env:
  FunctionAppName: KeyGeneratorAPI

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish Microsoft.UserKeyManagement.API/Microsoft.UserKeyManagement.API.csproj --configuration Release --output ./publish

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.FunctionAppName }}
          package: ./publish
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_KEYGEN_PUBLISH_PROFILE }}